.rows {
  display: grid;
  gap: 1rem;
  margin-bottom: 8rem;
}

.row {
  height: 32px;
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: min-content 8rem auto max-content min-content;
  @apply px-4;
}
